<% include ../partials/header.html.ejs %>


<div class="container home-section" id="more">
	<div class="row">

		<div class="col-md-8 col-md-offset-2">
			<h1>Contact Information</h1>
			<br>
			<p class="lead">You can reach us anytime at the following:</p>
			<div class="row">
				<div class="col-md-4">
					<p><strong>Address</strong><br>
					GARAKAMI, LLC<br>
					112 East 45th Street<br>
					Brooklyn, NY 11203
					</p>
				</div>
				<div class="col-md-6">
					<p><strong>Facebook</strong><br> <a class="btn-link" href="http://www.facebook.com/read.gd">read.gd</a></p>
					<p><strong>Twitter</strong><br> <a class="btn-link" href="http://www.twitter.com/readgoodhq">@readgoodhq</a></p>
					<p><strong>Email</strong><br> hello [at] read.gd</p>
					<p><strong>Phone</strong><br>+1 473 459 6246 or +1 316 453 6436</p>
				</div>

			</div>

		</div>
	</div>
</div>

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>