<% include ../partials/header.html.ejs %>


<div class="container home-section" id="more">
	<div class="row">

		<div class="col-md-8 col-md-offset-2">
			<p class="lead tac">Coming soon.</p>
		</div>
	</div>
</div>



<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>