<% include ../partials/header-not-logged-in.html.ejs %>

<div class="container home-section" id="more">
	<div class="row">
		<div class="col-md-12">
			<h1 class="tac"><strong>kreateve</strong> is an online community composed of Creators, Service Providers, and Businesses who work together to turn innovative ideas into cutting-edge products. </h1>
			<br><br>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<p class="lead">On top of access to our directory and collaboration hub, we offer the following user benefits:</p>
			<ul class="">
				<li><strong>Creators</strong>: Step-by-step guidance through the business world to effectively and safely transform your ideas into products, along with access to a network of service providers to help you accomplish your project goals</li>
				<li><strong>Service Providers</strong>: Increased client base by extending your business reach worldwide to innovators in need of your specific services</li>
				<li><strong>Businesses</strong>: Break-out products in our Marketplace from talented innovators to take your business to the next level</li>
			</ul>
			<p>At <strong>kreateve</strong>, we want your voice to be heard and projects to succeed; we do not want your ideas to be copied or compromised. Our online platform was built from the understanding of first-hand experiences and concerns of product development. Our goal is to simplify the process of product development while providing the safe space for your dreams to come to true. The world needs your innovation. Start your journey with <strong>kreateve</strong>.</p>
		</div>
	</div>
</div>

<div class="container-fluid home-section" id="projects">
	<div class="container">
		<div class="row">
			<h1 class="tac">Features</h1>
				<hr>
				<br><br>
			<div class="col-md-3 col-md-offset-1"><h3>Projects</h3></div>
			<div class="col-md-7">
				<p class="lead">Projects are the foundation that our platform is built upon. Users can create, collaborate, and sell their ideas and inventions directly from our site.</p>
				<p>When creating a new project, you are prompted to select a project type, such as a book or invention. The project display screen and options are then catered to your specific project type, where you can enter project details, upload explanatory diagrams or images, and select which Services you're interested in.</p>
				<p>Once a project is created, you can add users to collaborate with while managing their editing and viewing permissions. You can also publish your projects to our Marketplace so that businesses and individuals seeking your talents can view your projects and contact you.</p>
			</div>
			<div class="col-md-12">
				<br><br>
				<img src="/assets/images/screenshot-kreativekloud-edit-screen-short.png" class="img-responsive thumbnail">
				<br><br>
			</div>

		</div>
	</div>
</div>

<div class="container home-section" id="dashboard">
	<div class="row">
		<div class="col-md-4">
			<h3>Dashboard</h3>
			<p class="">The user Dashboard displays projects that you’re working on, whether they’re your original ideas or innovative solutions to posted Opportunities. Here you can create, manage, and view statistics on your projects as well as view responses to your posted Projects and Opportunities.</p>
		</div>
		<div class="col-md-8">
			<img src="/assets/images/screenshot-kreativekloud-dashboard.png" class="img-responsive thumbnail">
		</div>
	</div>
</div>

<div class="container home-section" id="marketplace">
	<div class="row">
		<div class="col-md-8">
			<img src="/assets/images/screenshot-kreativekloud-marketplace.png" class="img-responsive thumbnail">
		</div>
		<div class="col-md-4">
			<h3>Marketplace</h3>
			<p class="">The Marketplace offers Creators a direct connection to their target audiences. Here you can publish your Projects to the Marketplace, where individuals and businesses interested in your ideas or products can view project details and contact you directly to set up a deal. You set your own pricing, the revenue of your successful product is split between you and any collaborators you added, and <strong>kreateve</strong> only commissions 2.5%. That’s it.</p>
			<p>On the other end of the spectrum, individuals and businesses use the Marketplace to find innovative ideas or products to buy from creators to take their company to the next level. We also offer companies the ability to lease or purchase the rights to products, where we oversee the negotiation to make sure everyone gets a fair deal.</p>
		</div>
	</div>
</div>

<div class="container home-section" id="services">
	<div class="row">
		<div class="col-md-4">
			<h3>Services</h3>
			<p class="">The Services page lists all of the service providers in innovation available for contract, categorized by their type of service. Users can filter through, view, and contact service providers according to their type of service, location, experience, ratings, and prices.</p>
		</div>
		<div class="col-md-8">
			<img src="/assets/images/screenshot-kreativekloud-services.png" class="img-responsive thumbnail">
		</div>
	</div>
</div>

<div class="container home-section" id="opportunities">
	<div class="row">
		<div class="col-md-8">
			<img src="/assets/images/screenshot-kreativekloud-solutions-screen-short.png" class="img-responsive thumbnail">
		</div>
		<div class="col-md-4">
			<h3>Opportunities</h3>
			<p class="">The Opportunities page gives individuals and businesses a place to post their project needs and problems in search of innovative solutions. Here they can share their project goals and the reward amount that they’re willing to offer for the successful design or product. Businesses can then review received applications, choose the best solution, and strike up a deal.</p>
		</div>
	</div>
</div>

<div class="container home-section">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>We at <strong>kreateve</strong> have been working in the field of innovation for over 50 years combined. We have experienced the trials and successes of bringing a product to market and understand the issues and gaps in information and resources that the innovator faces.</p>
			<p>We've used our experiences to troubleshoot the entire process of bringing a product to life, with the result being a comprehensive, user-friendly guide to innovation, supplemented with a community of quality service providers eager to help you succeed. Our goal is to guide you around the pitfalls of the industry, speed up the entire process of getting your idea to the marketplace, and save you money. Welcome to <strong>kreateve</strong>.</p>
			<br><br>
		</div>

		<div class="col-md-10 col-md-offset-1 tac">

			<p class="lead">Welcome to <strong>kreateve</strong>.<br> Your Space for Creative Expression <span class="amp">&amp;</span> Secure Business Connections.</p>
			<br><br>
			<a href="/account/signup" class="btn btn-success btn-lg">Join kreateve <!--<span class="glyphicon glyphicon-chevron-right"></span>--></a> &nbsp; <a href="/account/login" class="btn btn-default btn-lg">Login</a>
		</div>
	</div>

</div>

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>