<% include ../partials/header.html.ejs %>

<div id="content" class="container">



	<h1>New <%=projectDisplay%></h1>

	<hr class="divider">

	<form class="form" role="form" method="post">
		<div class="form-group">
		    <label for="project" class="control-label"><%=projectDisplay%> Name</label>
		      <input type="text" class="form-control" name="project" >
			  <span class="help-block">Be creative and descriptive with your <%= projectDisplay.toLowerCase() %> name.</span>
		</div>


		<input type="text" class="hidden" name="type" value="<%=projectType%>">


		<h3>Services Needed <small>We will make recommendations as you work on your project</small></h3>
		<div class="row">
			<div class="form-group">

				<div class="col-md-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="services" value="1"> Editor
						</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="services" value="2"> Cover Designer
						</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="services" value="3"> Publicist
						</label>
					</div>
				</div>

			</div>
		</div>

		<hr class="divider">

		<div class="row">
			<div class="form-group">
				<div class="col-sm-offset-8 col-sm-4">
				  <button type="submit" class="btn btn-primary form-control input-lg">Get Started <span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</div>
		</div>

	</form>

</div><!-- container -->

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>