<% include ../partials/header.html.ejs %>

<div id="content" class="container settings">

	<% if ( locals.message) {%><div style="color:red"><%= message%></div><%}%>


	<h1>Password</h1>
	<ul class="list-unstyled">
		<li><a href="/account/settings" class="btn-link">Personal Information</a></li>
	</ul>
	<hr>
	<br>
	<form class="form" role="form" method="post" enctype="multipart/form-data">

		<p id="pwd_msg" class="col-md-12"></p>
		<div class="row" id="password-section">
			<div class="col-md-3">
		        <div class="form-group">
				    <label for="oldpassword" class="">Current Password</label>
				    <input type="password" class="form-control" name="oldpassword" placeholder="Current Password">
				</div>
		    </div>

			<div class="col-md-3">
		        <div class="form-group">
				    <label for="newpassword" class="">New Password</label>
				    <input type="password" class="form-control" name="newpassword" placeholder="New Password">
				</div>
			</div>

			<div class="col-md-3">
		        <div class="form-group">
				    <label for="confirmpassword" class="">Confirm Password</label>
				    <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
				</div>
			</div>
			<div class="col-md-3">
		        <label for="" class="">&nbsp;</label>
		        <a class="form-control btn btn-primary" id="btn-changepassword">Change Password</a>
			</div>
        </div>

	</form>

</div><!-- container -->

<% include ../partials/footer-menu.html.ejs %>

<!--<script src="/assets/components/chosen/chosen.jquery.min.js"></script>-->
<script src="/assets/javascript/redactor.js"></script>
<script src="/assets/components/handlebars/handlebars.min.js"></script>
<script src="/assets/javascript/formValidation.min.js" type="text/javascript"></script>
<script src="/assets/javascript/bootstrap.min.js" type="text/javascript"></script>
<script>

var onAddressRemove = '';

$(function(){

	//$('.chzn-select').chosen({no_results_text: 'No results matched'});

	$('#description').redactor({
		minHeight: 300 // pixels
	});

	$('#profile-photo .close').click(function(){
		$('#profile-photo').html('<input type="file" name="photo">');
	})

	// Account Settings

	$('[name="usertype"]').change(function(){
		var skills = [];
		$('#options-loading').show();
		$('#skills input:checked').each(function() {
	        skills.push(this.value);
	    });
		$.get('/ajax/options',
        	{'professions': $(this).val(), 'specialization': $('[name="specialization"]').val(), 'skills': skills},
            function(data, status){
	            data = JSON.parse(data);
	            $('#specialization select').html(data.specializations);
	            $('#specialization select').trigger('chosen:updated');
				$('#skills').html(data.skills);
				$('#options-loading').hide();
		 });

	});

	$("#btn-changepassword").click(function(){
		if ($('[name="newpassword"]').val() == $('[name="confirmpassword"]').val()) {
			$.post('/ajax/changepassword', {newpassword: $('[name="newpassword"]').val(),
				confirmpassword: $('[name="confirmpassword"]').val(),
				oldpassword: $('[name="oldpassword"]').val()})
			.success(function(data){
				data = JSON.parse(data);
				$('#password-section').find('input').val('');
				$('#pwd_msg').fadeIn();
				//$('#pwd_msg').html(data.1]);
				if (data.error){
					$('#pwd_msg').html(data.error);
					$('#pwd_msg').addClass('bg-danger');
					$('#pwd_msg').removeClass('bg-success');
				}else{
					$('#pwd_msg').html(data.success);
					$('#pwd_msg').removeClass('bg-danger');
					$('#pwd_msg').addClass('bg-success');
				}
			});
		} else {
			$('#pwd_msg').fadeIn();
			$('#pwd_msg').addClass('bg-danger');
			$('#pwd_msg').removeClass('bg-success');
			$('#pwd_msg').html("Your new password does not match.");
		}
	});



	onAddressRemove = function(el){
		$(el).parents('a.list-group-item').remove();
	};

	//suggested address clicked
	onAddressAdd = function(el){
		$selection = $(el).parent('a.list-group-item').children('input');
		data = $selection.val();
		//console.log(data);
		obj = jQuery.parseJSON(data);
		//console.log(obj);
		obj.addr = data;
		obj.country_text = $("#loc_country :selected").text();
		$('#save_addr').append(template(obj));
		$('#add-input-section input').val("");
		$(el).parent().parent().empty('.suggested');

	};

	//var statedata = {{json_encode($state_list)}};
	/*var states = new Bloodhound({
	  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  // `states` is an array of state names defined in "The Basics"
	  local: $.map(statedata, function(state) { return { value: state }; })
	});

	// kicks off the loading/processing of `local` and `prefetch`
	states.initialize();

	var makeAutoComplete = function(){
		$('#loc_state').typeahead({
			  hint: true,
			  highlight: true,
			  minLength: 1
			},
			{
			  name: 'states',
			  displayKey: 'value',
			  // `ttAdapter` wraps the suggestion engine in an adapter that
			  // is compatible with the typeahead jQuery plugin
			  source: states.ttAdapter()
			});
	}


	$('#loc_country').change(function(e){
		$('#loc_state').typeahead('destroy');
		$('#loc_state').val('');
		if ( $(this).val() == "US"){
			makeAutoComplete();
		}else{

		}
	});

	makeAutoComplete();*/

	var template = Handlebars.compile($('#tmpl_save_addr').html());

	$('#btn-addaddr').click(function(){
		//User input address object
		data = {
			street: $('#loc_street').val().trim(),
			suite: $('#loc_suite').val().trim(),
			city: $('#loc_city').val().trim(),
			/*zip: $('#loc_zip').val().trim(),
			state: $('#loc_state').val().trim(),*/
			country: $('#loc_country').val().trim()
		}
		data.addr = JSON.stringify(data);

		data.country_text = $("#loc_country :selected").text();

		//---------------------Address Verification via Google Maps API-------------------//
		 street = data['street'].replace(/ /g, '+');
		 suite = data['suite'].toLowerCase().replace(/\b[a-z]/g, function(letter) {
		    		return letter.toUpperCase();
				});
		 city = data['city'].replace(/ /g, '+');
		 //zip = data['zip'].replace(/ /g, '+');
		 //state = data['state'].replace(/ /g, '+');
		 country = data['country'].replace(/ /g, '+');
		 address = street +  "+" +  city + "+"/* + state + "+" + zip +  "+"*/ +country;

		var url = "http://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false";

		//clean up suggested div
		$('.suggested').empty();

		//retrieve response
		$.ajax({
        url: url,
            dataType: 'json',
            cache: false,
	        success: function (data) {
	        	suggested = '';
	             for (i = 0; i < data.results.length; i++) {
	            components =  data.results[i].address_components;
	          //  alert(data.results[i].formatted_address);
	            var street_num = '';
	            var street_name = '';
	            var city = '';
	            var state = '';
	            var country = '';
	            var zip = '';
	            var lat = '';
	            var lng = '';
				//console.log(data.status);
				//console.log(data.results[i]);
				if (data.status == 'OK') {
					//go through data results to retrive address info for each match
					$.each(data.results[i], function(index, value) {

		            	if (jQuery.type(value) === "object" || $.isArray(value)) {
			            	$.each(value, function(index2, value2){

			            		if(jQuery.type(value2) === "object" || $.isArray(value2)){
			            			$.each(value2, function(index3, val3) {

					            		if (val3 == 'street_number') { street_num = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'route') { street_name = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'sublocality_level_1,sublocality,political') { city = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'locality,political') { city = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'administrative_area_level_1,political') { state = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'country,political') {
					            			country = data.results[i][index][index2]['short_name'];
					            			country_long = data.results[i][index][index2]['long_name'];
					            		}
					            		if (val3 == 'postal_code') { zip = data.results[i][index][index2]['long_name'];}

		            					if (index3 == 'lat') { lat = data.results[i][index][index2]['lat'];}
		            					if (index3 == 'lng') { lng = data.results[i][index][index2]['lng'];}

			            			});
			            		}
			            	});
			            }
					});
					//match(es) address object
					if (street_num && street_name) {
						var street = street_num + " " + street_name;
					} else {
						var street = "";
					}


		            addr = {
		            	street: street,
						suite: suite,
						city: city,
						/*zip: zip,
						state: state,*/
						country: country_long,
						lat: lat,
						lng: lng
		            }
		            //List match(es) for user to select from
		           	if ($.isEmptyObject(suite)) {} else{suite = " " + suite;}
		           	suggested = suggested +  "<a class='list-group-item'><input type='hidden' name='temp_location[]' value='" + JSON.stringify(addr) + "' /><h4 class='list-group-item-heading'>"
		           						+ street + suite + "</h4><p class='list-group-item-text'>"
		           						+ city + ", "/* + state + " " + zip + ", "*/ + country_long
		           						+ "</p><span class='addr-add' onclick='onAddressAdd(this)'><span class='glyphicon glyphicon-ok-circle'></span> Select</span></a>";

				}//end if status code = OK
				else{
					suggested = 'No Matches found!';
				}

	        };
	        $('div.suggested').append('<h4>Please choose your address</h4>' + suggested);
	        },
	        error: function (e) {
	            //console.log(e.message);
	             $('div.suggested').append('<h4>Suggested Address</h4>' + 'No Matches Found');
	        }
		});


		//-----------------------------------------------------------//

		isvalid = ""; // valid check
		if ( true || isvalid)
		{
	      //$('div.list-group').append(template(data));
	    }

    	//$('#add-input-section input').val("");
	});

});
</script>

<script type="text/x-hbs" id="tmpl_save_addr">
	<a class="list-group-item">
		<input type="hidden" name="locations" value='{{addr}}'/>
	    <h4 class="list-group-item-heading">{{street}} {{suite}}</h4>
	    <p class="list-group-item-text">{{city}}, <!--{{state}} {{zip}},--> {{country}}</p>
	    <span class="glyphicon glyphicon-remove-circle addr-remove" onclick='onAddressRemove(this)'></span>
	</a>
</script>

<% include ../partials/footer.html.ejs %>