Whoops, it looks like you forgot your password!

No worries, just click here and follow the prompts to reset it. Don’t forget that your password is case sensitive.

Please click on this link to  <a href="http://<%=hostname%>/account/resetpasswd?username=<%=username%>&token=<%=token%>">reset your password</a>

Didn't ask to change your password? Then just ignore this email.

- Your friends at kreateve
