<% include ../partials/header.html.ejs %>

<div id="content" class="container">

	<h1><%= user.firstname %>, thanks for your order.</h1>
	<hr class="divider">

		<div class="row">

			<div id="" class="col-md-12" style="background-image: url();">
				<p>You will receive details on how to download you files by email shortly.</p>
				<p>You can also head over to the <a href="/library" class="text-primary font-bold">Library</a> to see them.</p>
			</div>

		</div>
		<br>

</div><!-- container -->


<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>